.hero-banner {
  background-image: url(img/backgroung_image.png);
  background-repeat: no-repeat;
  background-size: 80% 100%;
  background-color: white;
  /* height:400px; */
}
h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  display: flex;
  color: #172b4d;
  margin: 12px 0;
}
ul.icon-item li {
  list-style-type: none;
  display: inline-block;
  font-size: 22px;
  margin: 5px;
  padding: 5px;
  padding-top: 15px;
  overflow: hidden;
  background-color: whilte;
}
.card-section {
  height: 90vh;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.project-details {
  display: flex;
  gap: 12px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.project-details .client-name {
  color: #344563;
}

.project-details .role,
.yearlb {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #7a869a;
}
.technologies-used {
  display: flex;
  gap: 15px;
}

.technologies-used li {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: lowercase;
  color: #6070ff;
  padding: 4px 12px;
  margin: 15px 15px;
  background-color: #ebebff;
  border-radius: 8px;
}

.technologies-used li:hover {
  cursor: pointer;
  background: #6070ff;
  color: #fff;
}

.btn {
  margin-top: 25px;
  /* padding: 12px; */
  background: #fff;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  line-height: 24px;
  text-transform: capitalize;
  color: #396df2;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.btn:hover {
  background: #6070ff;
  color: #fff;
}